
#section{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    display: flex;
}
.triangle{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: rgb(250, 247, 247);
    z-index: 100;
    margin-top: 40px;
    margin-left: 40px;
}

.btn{
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(52, 52, 252);
}
.Triangle{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid rgb(246, 246, 252);
    border-right: 75px solid transparent;
}


